<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Project HELL</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html, body {
    margin: 0; width: 100vw; height: 100vh; min-height: 100vh;
    background-color: #36454F; /* charcoal */
    background-image: linear-gradient(rgba(211, 66, 61, 0.5), rgba(0,0,0,0.3)); /* red overlay */
    color: #fff;
    font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;
    box-sizing: border-box;
  }
</style>
